# This file contains the mapping between the workspace and the expected title and abstract for the service metadata
# which will eventually be automatically created.
#
# The syntax of this file is the following:
#
# one section per workspace, the section has to be named as the GeoServer workspace
# each section should contain the following entries:
# * title_wms
# * title_wfs
# * abstract_wms
# * abstract_wfs

[test]

title_wms=Service de visualisation (WMS) des données géographiques de Rennes Métropole couvertes par le thème "mobilité transport : déplacement collectif"
# Using several lines is possible, but a tab character should follow the new line, e.g.:

abstract_wms=Service de consultation des données de Rennes Métropole couvertes par le thème "mobilité transport : déplacement collectif" de la nomenclature thématique GéoBretagne.
    Ce service répond aux standards WMS 1.1.1 et 1.3.0 de l'Open GIS Consortium (OGC).

title_wfs=Service de visualisation (WFS) des données géographiques de Rennes Métropole couvertes par le thème "mobilité transport : déplacement collectif"
abstract_wfs=Service de consultation des données de Rennes Métropole couvertes par le thème "mobilité transport : déplacement collectif" de la nomenclature thématique GéoBretagne.
    Ce service répond aux standards WFS 1.0, 1.1 et 2.0 de l'Open GIS Consortium (OGC).


[ladm_terri]
title_wms=Service de visualisation (WMS) des données géographiques de Rennes Métropole couvertes par le thème "limites administratives et découpage des territoires"
abstract_wms=Service de consultation des données de Rennes Métropole couvertes par le thème "limites administratives et découpage des territoires" de la nomenclature thématique GéoBretagne.
    Ce service répond aux standards WMS 1.1.1 et 1.3.0 de l'Open GIS Consortium (OGC).
title_wfs=Service de visualisation (WFS) des données géographiques de Rennes Métropole couvertes par le thème "limites administratives et découpage des territoires"
abstract_wfs=Service de consultation des données de Rennes Métropole couvertes par le thème "limites administratives et découpage des territoires" de la nomenclature thématique GéoBretagne.
    Ce service répond aux standards WFS 1.0, 1.1 et 2.0 de l'Open GIS Consortium (OGC).